@model SamaraProject1.Models.Categoria

@{
    ViewData["Title"] = "Eliminar Categoría";
}

<h1>Eliminar Categoría</h1>

<h3>¿Estás seguro de que deseas eliminar esta categoría?</h3>
<div>
    <h4>Categoría</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCategoria" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>