@{
    ViewData["Title"] = "Donaciones";
}

<div id="donation-container">
    <!-- El componente de donación se cargará aquí dinámicamente -->
</div>

@section Scripts {
    <script src="~/js/DonationComponent.json="true"></script>
}
