@{
    ViewData["Title"] = "Como Unirte a la Feria";
}
<h1>@ViewData["Title"]</h1>

<head>
    <title>Requisitos para Unirte</title>   
    <style>
        h2 {
            margin-top: 40px;
        }
    </style>
</head>
<body>

    <div class="container">
        <h2>Requisitos para Unirte</h2>
        <p>Para unirte a nuestra comunidad, asegúrate de cumplir con los siguientes requisitos:</p>

        <ul>
            <li>Ser nacional o tener cédula de residencia.</li>
            <li>En caso de producción agrícola contar con los permisos y los carnés correspondientes al día.</li>
            <li>En caso de productos comestibles contar con el carné de manipulación de alimentos al día.</li>
            <li>El 80% de los productos deben ser de producción propia.</li>
            <li>Contar con una mesa, silla y/o exhibidores correspondientes.</li>
        </ul>

        <p>Si cumples los requisitos puedes aplicar al siguiente  <a href="https://forms.gle/jj1LkRQGqBnc7ZRA9">formulario</a>.</p>
    </div>

</body>